.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
}

.carousel-container {
    width: 80%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.carousel-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    transition: background-image 0.5s ease-in-out;
}

.explore-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
